	.container,
	.wrapper{
		width:33%;
		margin: 0 auto;
	}
body {
	font-family: 'Roboto', sans-serif;
}

.logo-panel {
	margin-top: 90px;
	margin-bottom: 135px;
}

p,
a,
li,
span,
label {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

ul li {
	list-style-type: none;
}


.arrow-icon {
	margin-top: 1%;
	font-weight: bold;
	font-size: 1.5rem;
}

.arrow-icon a {
	color: #000;
}
.leaderboard-link a {
	font-size: 1.5rem;
}

/*====================================== Home Body center */
#homeTopRightIcon {
	height: 10vh;
}

#homeBodyCenter {
	height: 80vh;
}

#footerBodyCenter {
	height: 10vh;
}

.custom-center {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);

}

.quize-btn {
	color: #007F5F;
	border-color: #007F5F;
	font-weight: bold;
	width: 75%;
}

.start-btn {
	background-color: #007F5F;
	color: #fff;
	border-radius: 20px;
	width: 75%;
	font-weight: bold;
}

a.btn.btn-outline-info.quize-btn:hover,
a.btn.mt-2.start-btn:hover
 {
	background-color: #007F5F;
	color: #fff;
	
}


/*====================================== Question  */
.progress-bar-container {
	height: 16px;
	margin: 10px 0px 10px 0px;
	background: #ccc;
	position: relative;
	border-radius: 20px;
}

.progress-bar-indicator {
	height: 100%;
	border-radius: 25px;
	/* this will do the magic */
	-webkit-mask: linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0);
}

.progress-bar-indicator::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(0, 127, 95, 1) 0%, rgba(250, 255, 0, 1) 35%, rgba(255, 0, 0, 1) 100%);
	;
	/* your gradient here */
}

/* -------------------- Radio ------------- */
/* HIDE RADIO */
/* [type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
} */

/* IMAGE STYLES */
/* [type=radio]+img {
	cursor: pointer;
} */

/* CHECKED STYLES */
/* [type=radio]:checked+img {
	outline: 2px solid #f00;
} */

.radio-toolbar {
	margin: 0px;
}

.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.radio-toolbar label {
	display: block;
	border: #007F5F solid 1px;			
	border-radius: 20px;
	margin-bottom: 10px;
	font-size: 22px;			
	padding: 1% 5%;
	cursor: pointer;
}

.radio-toolbar label:hover {
	background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
	border: 1px solid #dfd;
}

.radio-toolbar input[type="radio"]:checked + label {
	background-color: #dfd;
	border-color: #007F5F;
}

/* --------------- End progress bar----------- */
#questionPanel {
	font-family: "Noto Sans Bengali", sans-serif;
}


/*====================================== terms contdition */

.termncondition ul li {
	padding-bottom: 4%;
}

.okay-btn-center {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: space-evenly;
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: calc(0.3rem - 1px);
	border-bottom-left-radius: calc(0.3rem - 1px);

}

.okay-btn {
	color:#000;
	width: 30%;
	border-radius: 20px;
	border:#007F5F solid 1px;
}
.okay-btn:hover{
	background-color: #007F5F;
	color: #fff;
}
[aria-current="page"] {
	pointer-events: none;
	
	text-decoration: none;
	background-color: aliceblue;
	}
.disable-btn{
		pointer-events: none; 
		
		text-decoration: none; 
		border-radius:20px; 
		background: #ADD6CB;
}

/*======================== submit btn====================== */
.submit-btn {
	/* width: auto; */
	width: 80%;
	margin: 0 auto;
	/* background: #E1E1E1; */
	border-radius: 20px;
	/* border: #007F5F solid 1px; */
}

.btn {
	color: none;
}

.submit-txt {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;

	font-size: 24px;
}

/* .submit-btn:hover {
	color: #fff !important;
	background: #007F5F;
}

.submit-btn:focus {
	background: #007F5F;
}

.submit-btn .btn:hover {
	color: #fff !important;
} */

#score-panel .score-part p.number{
	margin: 0px;
	padding-left: 10px;
}

/* ================================Custom Responsive ============================= */

@media screen and (max-width: 1400px) {
	
	#top-leaderbord{
		width:45%;
		margin: 0 auto;
	}
	#score-panel .score-part p.number{
		padding-left: 10px;
	}
}

@media screen and (max-width: 1280px) {
	.container,
	.wrapper{
		width:50%;
		margin: 0 auto;
	}
	#top-leaderbord{
		width:65%;
		margin: 0 auto;
	}
	#score-panel .score-part p.number{
		padding-left: 10px;
	}
}

@media screen and (max-width: 1024px) {
	.container,
	.wrapper{
		width:60%;
		margin: 0 auto;
	}
	#top-leaderbord{
		width:70%;
		margin: 0 auto;
	}
	
}


@media screen and (max-width: 920px) {
	.container,
	.wrapper{
		width:100%;
		margin: 0 auto;
	}
	#top-leaderbord{
		width:auto;
		margin: 0 auto;
	}
	#score-panel .score-part p.number{
		padding-left: 10px;
	}
}


@media screen and (max-width: 860px) {}

@media screen and (max-width: 769px) {
	#score-panel .score-part {
		padding: 3% 0 3% 0;
	}
}

@media screen and (max-width: 420px) {
	
}
@media screen and (max-width:390px) {}

@media screen and (max-width:360px) {}

@media screen and (max-width:320px) {}